<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Sequences

    <a data-toggle="collapse" href="#user_sequences_new_form">
      Add yoga flow
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.sequences.each do |yoga_flow| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/yoga_flows/<%= yoga_flow.id %>">
          <%= yoga_flow.name %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
