<h1>
  Add a new yoga flow
</h1>


<hr>

<form action="/create_yoga_flow" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="intention">
      Intention
    </label>

    <input type="text" id="intention" name="intention" class="form-control">
  </div>

  <div class="form-group">
    <label for="pose_id">
      Pose
    </label>

    <input type="text" id="pose_id" name="pose_id" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control">
  </div>

  <div class="form-group">
    <label for="yoga_type">
      Yoga type
    </label>

    <input type="text" id="yoga_type" name="yoga_type" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create yoga flow
  </button>
</form>

<hr>

<a href="/yoga_flows">
  Go back
</a>
