<h1>
  Edit sun b #<%= @sun_b.id %>
</h1>

<hr>

<!-- Form sun_b start -->
<form action="/update_sun_b/<%= @sun_b.id %>" method="post">
<!-- Form sun_b end -->

  <button class="btn btn-block btn-outline-secondary">
    Update sun b
  </button>
</form>

<hr>

<a href="/sun_bs">
  Go back
</a>
