<h1>
  Add a new sun b
</h1>


<hr>

<!-- Form sun_b start -->
<form action="/create_sun_b" method="post">
<!-- Form sun_b end -->

  <button class="btn btn-block btn-outline-secondary">
    Create sun b
  </button>
</form>

<hr>

<a href="/sun_bs">
  Go back
</a>
