<h1>
  Edit sun a #<%= @sun_a.id %>
</h1>

<hr>

<form action="/update_sun_a/<%= @sun_a.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update sun a
  </button>
</form>

<hr>

<a href="/sun_as">
  Go back
</a>
