<h1>
  Add a new sun a
</h1>


<hr>

<form action="/create_sun_a" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create sun a
  </button>
</form>

<hr>

<a href="/sun_as">
  Go back
</a>
