<h1>
  Edit sun c #<%= @sun_c.id %>
</h1>

<hr>

<form action="/update_sun_c/<%= @sun_c.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update sun c
  </button>
</form>

<hr>

<a href="/sun_cs">
  Go back
</a>
