<!-- Validation failure messages -->
<% if @sun_c.present? %>
  <% if @sun_c.errors.any? %>
    <% @sun_c.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new sun c
</h1>


<hr>

<!-- Form sun_c start -->
<form action="/create_sun_c" method="post">
<!-- Form sun_c end -->

  <button class="btn btn-block btn-outline-secondary">
    Create sun c
  </button>
</form>

<hr>

<a href="/sun_cs">
  Go back
</a>
